{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>
    <small> - cardGame, tillkom kmom02 -</small>
    <ul>
        <li><a href="{{ path('card') }}">Card, Home</a></li>
        <li><a href="{{ path('card_reset') }}">Reset Session</a></li>
        <li><a href="{{ path('card_deck') }}">Deck</a></li>
        <li><a href="{{ path('card_shuffle') }}">Shuffle</a></li>
        <li><a href="{{ path('card_draw') }}">Draw</a></li>
        <li><a href="{{ path('card_draw_more', {'num': 10}) }}">Draw more</a></li>
    </ul>

    <p>
        I Projektet Card finns 4 klasser, nedan följerUML klassdiagram samt kort beskrivning av dessa.
    </p>

    <h2>class Card </h2>
    <p>Representerar ett spelkort med färg och valör.</p>

    <h2>class CardUtf </h2>
    <p>Utökar (arv) class Card och skapar kort med en symbol</p>

    <h2>class Deck </h2>
    <p>En kortlek med 52 kort, som skapas sina kort med CardUtf.</p>

    <h2>class Hand </h2>
    <p>En hand som håller kortens som dras.</p>

    <a href="{{ asset('img/card.jpg') }}">
        <img class="card-img" src="{{ asset('img/card.jpg') }}" alt="uml">
    </a>

    
{% endblock %}