{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block body %}
    <h1>Card Deck</h1>
    <small> - cardGame, tillkom kmom02 -</small>
    <ul>
        <li><a href="{{ path('card') }}">Card, Home</a></li>
        <li><a href="{{ path('card_reset') }}">Reset Session</a></li>
        <li><a href="{{ path('card_deck') }}">Deck</a></li>
        <li><a href="{{ path('card_shuffle') }}">Shuffle</a></li>
        <li><a href="{{ path('card_draw') }}">Draw</a></li>
        <li><a href="{{ path('card_draw_more', {'num': 10}) }}">Draw more</a></li>
    </ul>
    <p>Här finns de {{ numberCards }} kort kvar i kortleken.</p>
    <p>Kortleken är {{ deckStatus }}.</p>

    {{ include('flash.html.twig') }}
    
    <table>
        <thead>
            <tr>
                {# <th>Rank</th> #}
                <th>Card</th>
            </tr>
        </thead>
        <tbody>
            {% for card in gameDeck %}
            <tr>
                {# <td>{{ card.rank }}</td> #}
                <td>{{ card.display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}