{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}

{% block body %}
    <h1>Card Deck Draw</h1>
    <small> - cardGame, tillkom kmom02 -</small>
    <ul>
        <li><a href="{{ path('card') }}">Card, Home</a></li>
        <li><a href="{{ path('card_reset') }}">Reset Session</a></li>
        <li><a href="{{ path('card_deck') }}">Deck</a></li>
        <li><a href="{{ path('card_shuffle') }}">Shuffle</a></li>
        <li><a href="{{ path('card_draw') }}">Draw</a></li>
        <li><a href="{{ path('card_draw_more', {'num': 10}) }}">Draw more</a></li>
    </ul>
    <p>Dragna kort: {{ gameDrawNumberCards }}</p>
    <p>Resterande kort i leken: {{ gameCardsLeftDeck }}</p>

    <table>
        <thead>
            <tr>
                {# <th>Rank</th> #}
                <th>Card</th>
            </tr>
        </thead>
        <tbody>
            {% for card in drawHand.getCards() %}
            <tr>
                {# <td>{{ card.getRank() }}</td> #}
                <td>{{ card.display() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}