{% extends "base.html.twig" %}

{% block title %}Card Play{% endblock %}

{% block body %}
    <h1>Play Cardgame</h1>
    <small> - cardGame, tillkom kmom02 -</small>
    <ul>
        <li><a href="{{ path('card') }}">Home - Card</a></li>
        <li><a href="{{ path('card/deck') }}">Deck</a></li>
        <li><a href="{{ path('card/deck/shuffle') }}">Shuffle</a></li>
        <li><a href="{{ path('card/deck/draw') }}">Draw</a></li>
        <li><a href="{{ path('card/deck/draw/number') }}">Draw number</a></li>
    </ul>
    <p>
        Här spelar vi, så det ryker!
    </p>

    {# <p>You are playing with {{ pigDices }} dices.</p>

    <p>
    {% for value in diceValues %}
        <span class="die">{{ value }}</span>
    {% endfor %}
    </p>

    <p>Round: {{ pigRound }}</p>
    <p>Total: {{ pigTotal }}</p> #}

    <form method="post" action="">
        <p>
            <input type="submit" name="draw" value="Draw 1 card"
                onClick="this.form.action='{{ path('card/deck/draw') }}';"
            >
            <input type="submit" name="drawnumber" value="Draw number of cards"
                onClick="this.form.action='{{ path('card/deck/draw/number') }}';"
            >
            {# <input type="submit" name="save" value="Save"
                onClick="this.form.action='{{ path('pig_save') }}';"
            > #}
            {# <input type="submit" name="shuffle" value="Restart"
                onClick="this.form.action='{{ path('card/init_get') }}';this.form.method='get';"
            > #}
        </p>
    </form>

    {{ include('flash.html.twig') }}

{% endblock %}