<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/berg.jpg') }})">
            <span class="site-title">Marie's MVC 2023</span>
        </header>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
                <li><a href="{{ path('quote') }}">Quote</a></li>
            </ul>
        </nav>
        <main>{% block body %}{% endblock %}</main>

        <footer class="footer">
            {% block footer %}
                <a href="https://github.com/Maal21maat/report-mvc" target="_blank">Maries Github mvc-repo</a> |
                <a> Copyright © 2023, maat21</a> |
                <a> maat21@student.bth.se</a>
            {% endblock %}
        </footer>
    </body>
</html>
