{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <h1>Api</h1>
    <small> - api, tillkom kmom01, förfinades kmom02 -</small>

    <p>
        Sammanställnig över alla JSON routes som finns på denna sida.
    </p>

    <h2><a href="{{ path('quote') }}">Quote</a></h2>
    <p>Slumpar fram dagens quote, meddelar dagens datum och tidpunkt.</p>

    <h2><a href="{{ path('api_deck') }}">Deck</a></h2>
    <p>Visar kortleken, sorterad. Använder session med sparad kortlek.</p>

    <h2><a href="{{ path('api_shuffle') }}">Shuffle</a></h2>
    <p>Visar kortleken, blandad. Här skapas ny kortlek om.</p>

    <h2><a href="{{ path('api_draw') }}">Draw 1 card</a></h2>
    <p>Visar kortet som drogs, samt antalet kort kvar i leken. Använder session med sparad kortlek.</p>

    <h2><a href="{{ path('api_draw_more', {'num': 10}) }}">Draw more cards</a></h2>
    <p>Visar korten som drogs (förvalt 10 st), samt antalet kort kvar i leken. Använder session med sparad kortlek.</p>

{% endblock %}